<h1 class="text-center fst-italic fw-bold" style="color: black;">Usuario da API</h1>
<br />

<div class="text-center d-flex justify-content-center">
  <table id="table" class="table table-hover align-middle mb-0">
    <thead class="table-light">
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{profile.id}}</td>
        <td>
          <img [src]="profile.avatar" alt="avatar" style="width: 100px;" />
          <div class="col-md-12"><label class="labels">Image Url</label><input type="text" class="form-control" [(ngModel)]="profile.avatar" name="image.src"></div>

        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="profile.name" name="name">
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="profile.email" name="email">
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="profile.password" name="password">
        </td>
        <td>
          <button class="btn btn-primary" (click)="updateUser()" type="button">Atualizar Dados</button>
        </td>

      </tr>

    </tbody>
  </table>
</div>