<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="router-link-active" href="/home">FreePlayFinder</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" href="/home">Home</a>
        </li>
        <li><a class="nav-link" href="#">Jogar mais tarde</a></li>
        <li><a class="nav-link" href="#">A jogar atualmente</a></li>
        <li><a class="nav-link" href="#">Jogado e Concluído</a></li>
        <li><a class="nav-link" href="/profile">Usuário</a></li>
        <li>
          <a class="nav-link" href="/profile">
            <img [src]="profile.avatar" alt="profilePicUser" style="width: 30px;">
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>